@import url('https://fonts.googleapis.com/css?family=Work+Sans');
html, body { margin:0; height: 100%;font-family: 'Work Sans', sans-serif;}
.cabecalho{
	background-image: url('../img/Banner_03.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #000;
	height: 80%;
}
.header-nav{
	display: flex;
	justify-content: space-between;
}
.lista-nav{
	display: flex;
	list-style-type: none;
	text-transform: uppercase;
}
.lista-nav li{
	margin-right:3ch;
}
.lista-nav a{
	text-decoration: none;
	color:#FFF;
}

.chamada{
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.chamada h1{
	font-weight: 300;
    font-style: normal;
    font-size: 27px;
    text-transform: uppercase;
    line-height: .5em;
    color: #fff;
}
.chamada p{
	font-weight: 300;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: .8em;
    color: #fff;
    text-align: center;
}
.chamada a{
	display: block;
	text-decoration: none;
	color:#FFF;
	padding: 1em 2em;
	border: 2px solid #fff;
}
.mkt-conteudo-wrapper{
	display: flex;
}
.mkt-conteudo{
	padding-top: 3%;
	width: 70%;
	margin:0 auto;
	text-align: center;
}
.mkt-icons:nth-child(1){background-image: url(../img/ico1.png);}
.mkt-icons:nth-child(2){background-image: url(../img/ico2.png);}
.mkt-icons:nth-child(3){background-image: url(../img/ico3.png);}