@import url('https://fonts.googleapis.com/css?family=Work+Sans');
html, body {font-family: 'Work Sans', sans-serif;}
.cabecalho{
	background-image: url('../img/Banner_03.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #000;
	height: 75vh;
}
.header-nav{
	display: flex;
	padding-top: 1em;
}
.logo-wrapper{
	background-image: url('../img/logo-topo.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 50px;
	min-width: 200px;
}
.lista-nav{
	width: 100vw;
	display: flex;
	text-transform: uppercase;
	justify-content: flex-end;
	align-items: center;
}
.lista-nav li{
	box-sizing: border-box;
	padding: 0.8em 1.2em;
	letter-spacing: 0;
}
.lista-nav a{
	text-decoration: none;
	color:#FFF;
}
.lista-nav li:last-child{
	background-color: rgba(206,206,206,0.2);
	margin-right: 1em;
}

.chamada{
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.chamada h1{
	font-weight: 300;
  font-style: normal;
  font-size: 27px;
  text-transform: uppercase;
  line-height: .9em;
  color: #fff;
}
.chamada p{
	margin-top: 1em;
	margin-bottom: 3em;
	font-weight: 300;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: .9em;
    color: #fff;
    text-align: center;
}
.chamada a{
	display: block;
	text-decoration: none;
	color:#FFF;
	padding: 1em 2em;
	border: 2px solid #fff;
}
.mkt-conteudo-wrapper,
.ebook{
	display: flex;
	flex-direction: column;
	align-items: center;
}
h2{
  font-size: 1.9em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
p{
	font-size: 1.2em;
}
.mkt-conteudo,
.mkt-icons,
.ebook{
	padding-top: 7vh;
	padding-bottom: 7vh;
	width: 60%;
	margin:0 auto;
	text-align: center;
}
.mkt-icons{
	display: flex;
	justify-content: space-between;
}
.mkt-icon-wrapper {
	width: 30%; 
	line-height: 1.2em;
}
.mkt-icon-wrapper h3,
.ebook-icon-wrapper h3{
	text-transform: uppercase;
}
.mkt-icon-wrapper img{width: 180px; height:180px;}

.ebook-icons{
	display: flex;
	justify-content: space-around;
}
.ebook-icon-wrapper img{width: 290px; height:338px;}
.ebook-icon-wrapper p{width: 70%; margin: 0 auto;}
.banner-medium{
	background-image: url('../img/Banner_02.png');
	height: 35vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-medium p{
	text-transform: uppercase;
	color: #FFF;
	font-size: 1.5em;
}

.icones-sociais{
	height: 10vh;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icones-sociais a{
	margin-right: 25px;
	display: inline-block;
	width: 2em;
	height: 2em;
	/*font-size: 0px;*/
	text-indent: -9999px;
	position: relative;
}
.facebook{background-image: url(../img/facebook.svg);}
.twitter{background-image: url(../img/twitter.svg);}

.outras-infos{
	height: 20vh;
	background-color: #3B3B3B;
}